---
import Layout from "../../layouts/Layout.astro";
import "./devathon-edition.css";
import TeamExpandableCard from "../../components/astro/TeamExpandableCard/index.astro";
import SponsorBadge from "../../components/astro/SponsorBadge/index.astro";
import type { Data } from "../../interfaces/DevathonTeamsData";
import { devathonTeamsData } from "../../data/devathon-teams";
import { devathonSponsors } from "../../data/devathon-sponsors";
import type { Sponsor } from "../../interfaces/DevathonSponsor";

const { data } = devathonTeamsData;
---

<Layout title="4ta edici贸n">
  <main class="devathon-edition-main-container">
    <section class="edition-main-section">
      <h1>Devathon: 4ta edici贸n</h1>
      <div class="teams-container">
        {
          data.map((teamData: Data) => {
            const { name, score, id } = teamData;
            return <TeamExpandableCard name={name} id={id} score={score} />;
          })
        }
      </div>
    </section>
    <section class="edition-main-section">
      <h1>Sponsors de esta edici贸n</h1>
      <div class="sponsor-container">
        {
          devathonSponsors.map((sponsor: Sponsor) => {
            const { id, name, networks, logo } = sponsor;
            return <SponsorBadge id={id} name={name} networks={networks} logo={logo} />;
          })
        }
      </div>
    </section>
    <section>
      <h1>Informaci贸n general</h1>
    </section>
  </main>
</Layout>
