---
import Layout from "../../layouts/Layout.astro";
import AnimatedTitle from "../../components/astro/AnimatedTitle/index.astro";
import styles from "./networks.module.css";
import type { networkLink } from "../../interfaces/Networks.interface";
import NetworkList from "../../components/astro/NetworkList/index.astro";

const networks: networkLink[] = [
  {
    title: "Servidor de Discord",
    link: "https://discord.gg/programacion-es",
    imagePath: "/img/discord-icon.webp",
    alt: "Discord",
  },
  {
    title: "Canal de YouTube",
    link: "https://www.youtube.com/c/Programaci%C3%B3nenespa%C3%B1ol/videos",
    imagePath: "/img/youtube-icon.webp",
    alt: "YouTube",
  },
  {
    title: "Canal de Twitch",
    link: "https://www.twitch.tv/programacion_es",
    imagePath: "/img/twitch-icon.webp",
    alt: "Twitch",
  },
  {
    title: "Twitter",
    link: "https://twitter.com/program_es",
    imagePath: "/img/twitter-icon.webp",
    alt: "Twitter",
  },
  {
    title: "Instagram",
    link: "https://www.instagram.com/programacion.es/",
    imagePath: "/img/instagram-icon.webp",
    alt: "Instagram",
  },
  {
    title: "TikTok",
    link: "https://www.tiktok.com/@programacion.es",
    imagePath: "/img/tiktok-icon.webp",
    alt: "TikTok",
  },
  {
    title: "Github",
    link: "https://github.com/pedrovelasquez9",
    imagePath: "/img/github-icon.webp",
    alt: "Github",
  },
  {
    title: "LinkedIn",
    link: "https://www.linkedin.com/in/pedroplasencia/",
    imagePath: "/img/linkedin-icon.webp",
    alt: "LinkedIn",
  },
  {
    title: "Mi libro",
    link: "https://www.amazon.es/dp/B08DM5JF8Z/ref=cm_sw_r_apan_NEJF4N6ZJZF8PYFWRB5V",
    imagePath: "/img/kindle-icon.webp",
    alt: "Libro",
  },
];

const sponsorList: networkLink[] = [
  {
    title: "Bootcamp gratuito",
    link: "https://bit.ly/3PpUlBh",
    imagePath: "/img/openbootcamp-icon.webp",
    alt: "Open bootcamp",
  },
  {
    title: "Malt España",
    link: "https://www.malt.es/",
    imagePath: "/img/malt-icon.webp",
    alt: "Malt España",
  },
  {
    title: "Campsite academy",
    link: "https://campsite.academy/",
    imagePath: "/img/campsite-icon.webp",
    alt: "Campsite academy",
  },
  {
    title: "Viva translate",
    link: "https://beta.vivatranslate.com/",
    imagePath: "/img/viva-translate-logo.avif",
    alt: "Viva translate",
  },
];
---

<Layout title="Redes">
  <main>
    <div class={styles.networksContainer}>
      <section class={styles.networksSection}>
        <AnimatedTitle color="blue" text="Únete a la comunidad" />
        <NetworkList networkList={networks} />
      </section>

      <section class={styles.sponsorSection}>
        <AnimatedTitle color="orange" text="Sponsors y colaboradores" />
        <NetworkList networkList={sponsorList} />
      </section>
    </div>
  </main>
</Layout>
