---
import "./styles.css";

const { name, id, winner, isRetired=false } = Astro.props;
---

<div data-opened="false" class="vertical-card-container vertical-card-image-bg" title=`${isRetired?'Equipo retirado':''}` data-retired={isRetired.toString()}>
  <div class="card-central-section">
    <div class="team-card-title-section">
      <h2 class="team-card-title">{name}</h2>
      <button class="team-card-btn" data-winner={winner.toString()} id={id}>
        {
          winner ? (
            <img
              src="/img/devathon-medal.png"
              class="medal-btn"
              alt="Equipo ganador"
              id={id}
            />
          ) : (
            ""
          )
        }
      </button>
      <span>
        {
          isRetired ? <img
              src="/img/retired.webp"
              class="medal-btn"
              alt="Equipo retirado"
              title="Equipo retirado"
              id={id}
            /> : ""
        }
      </span>
    </div>
  </div>
</div>
