---
import type {
    DevathonData,
  } from "../../../interfaces/DevathonData.type";
import "./styles.css";

interface Props {
    devathon: DevathonData[];
}

const {devathon} = Astro.props;
---
{ devathon.map((item: DevathonData, index:number): Element => {
    return (<div class="container">
                <div class="timeline">
                    <div class="inner-timeline-container">
                        {(index + 1) % 2 !== 0 ? (
                            <div class="content">
                                <h2>{item.title}</h2>
                                <div>
                                    {item.info.split("\n").map((str:string):void => (
                                    <>
                                        <p>{str}</p>
                                    </>
                                    ))}
                                    {index === 0 ? 
                                        <h2>Detalles de ediciones anteriores</h2>
                                        <div>
                                            <ul class="edition-list">
                                                <li><a href="/devathon-edition">✅ IV edición</a></li>
                                                <li><a href="/devathon-v-edition">✅ V edición</a></li>
                                            </ul>
                                        </div>
                                    : ""}
                                </div>
                            </div>
                            <div class="ilustration">
                                <img src={item.img} alt={item.alt} />
                            </div>
                        ) : (
                            <div class="ilustration">
                                <img src={item.img} alt={item.alt} />
                            </div>
                            <div class="content">
                                <h2>{item.title}</h2>
                                <div>
                                    {item.info.split("\n").map((str:string):void => (
                                        <p>{str}</p>
                                    ))}
                                </div>
                            </div>
                        )}
                    </div>
                </div>
            </div>
        )
    })

}